old_molecules/
2combined/
ani1ccx/__pycache__/
ani1ccx/best_model.pth
ani1ccx/progress.out
ani1ccx/random_tests/
combined/1progress.out
combined/2progress.out
combined/3progress.out
combined/3progress_cont.out
combined/3progress_new.out
combined/__pycache__/
combined/best_model.pth
combined/best_model1.pth
combined/best_model2.pth
combined/best_model3.pth
combined/best_models_before_stop/
combined/continue1.py
combined/continue2.py
combined/continue3.py
data/
molecules/
structures/__pycache__/
structures/best_model.pth
structures/hidden5.out
structures/no_val.out
structures/no_val.py
structures/progress.out
structures/small.py
structures/subtracted_crystals.extxyz

